* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: .75em;
    text-align: center;
}

.app {
    max-width: 1020px;
    padding: 10px;
    margin: 0 auto;
}

.canvas__sorcerer {
    width: 100%;
}
